@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,400;1,700&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* nav section start  */
nav {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    color: #FF42A5;
}

.nav-title {
    font-size: 2rem;
    font-family: 'Work Sans';
}

.nav-logo {
    margin-right: 20px;
}

.menus a {
    text-decoration: none;
    font-family: 'Work Sans';
    text-align: center;
    font-size: 1rem;
    color: #3C354F;
    font-weight: 600;
}

.menus {
    width: 50%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.nav-btn {
    width: 150px;
    height: 35px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    cursor: pointer;
    font-weight: 600;
}

#yt-icon {
    color: red;
}

/* nav section end  */

/* first banner section start  */


section {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.banner-contant {
    width: 50%;
}

.banner-title-1 {
    color: #0B0223;
    font-family: 'work sans';
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-title-2 {
    font-family: "Work Sans";
    font-size: 4.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    color: #534C64;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 20px;
}

.baneer-btn1 {
    display: inline-flex;
    padding: 17px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    margin-top: 25px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 20px;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.baneer-btn2 {
    display: inline-flex;
    padding: 17px 30px;
    align-items: flex-start;
    border-radius: 48px;
    border: none;
    background: #4EC5F7;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.banner-img {
    width: 50%;
}

.banner-imge {
    width: 100%;
    height: 100%;
}

/* first banner section end  */


/* <!-- online games section start  -->  */

.game-title {
    color: #0B0223;
    text-align: center;
    font-family: "Work Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}

.gradiant-part {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Work Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game-subtitle {
    color: #534C64;
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.all-games {
    display: flex;
    width: 1100px;
    margin: auto;
    text-align: center;
    justify-content: space-between;
    margin-top: 50px;
}

.game {
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.game img {
    width: 100%;
    height: 300px;
    display: block;
}

.effect {
    background: transparent;
    height: 89.1%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.effect:hover {
    background: rgba(0, 0, 0, 0.7);
}

.effect h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.effect:hover h3 {
    bottom: 49%;
    opacity: 1;
}


/* <!-- online games section end  -->  */


/* play instant section start  */

.play-instant {
    width: 1100px;
    display: flex;
    align-items: center;
    gap: 200px;
}

.left-img {
    width: 50%;
}

.game-img01 {
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

.game-img02 {
    position: relative;
    margin-top: -250px;
    margin-left: -100px;
    width: 250px;
    height: 300px;
}

.right-contant {
    width: 50%;

}

.play-title {
    text-align: right;
    font-family: "Work Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
    font-family: "Work Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

.style-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* play instant section start  */

/* game collection img section start  */

.game-collection {
    width: 1100px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.img-game-c {
    display: flex;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    padding-left: 5px;
    gap: 10px;
}

.img-game-c:hover {
    border: 3px solid palevioletred;
    color: palevioletred;
}

/* game collection img section end  */

/* footer section start  */

.footer-section {
    background-color: #0B0223;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-titles {
    color: #fff;
}

.game-names {
    display: flex;
    justify-content: space-around;
    color: #fff;
    list-style: none;
    gap: 30px;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.icons-img {
    color: #FFF;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 35px;
}

.icons-img .fa-twitter:hover {
    color: #0068f0;
}

.icons-img .fa-facebook:hover {
    color: #0033a0;
}

.icons-img .fa-youtube:hover {
    color: #ff0000;
}

.icons-img .fa-linkedin:hover {
    color: #4494fd;
}

.icons-img .fa-instagram:hover {
    color: #660248;
}

.icons-img .fa-apple:hover {
    color: #0edda9;
}

.fotter-space {
    max-width: 1100px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.footer-terms {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: "Work Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 35px;
}

small {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: "Work Sans";
}

/* footer section end  */













/* use media quire for reponsive mobile device start */

@media screen and (max-width: 425px) {
    nav {
        flex-direction: column;
    }

    .menus,
    a {
        flex-direction: column;
        margin-top: 20px;
        font-weight: 600;
    }

    .nav-btn {
        margin-top: 20px;
        font-weight: 600;
    }

    section {
        flex-direction: column;
    }

    .banner-title-1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .banner-title-2 {
        font-size: 3.5rem;
        font-weight: 800;
    }

    .btn-bnr {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

    .baneer-btn1 {
        padding: 5px 50px;
        border-radius: 48px;
        border: none;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        color: #FFF;
        font-family: "Work Sans";
    }

    .baneer-btn2 {
        padding: 5px 50px;
        border-radius: 48px;
        border: none;
        background: #4EC5F7;
        color: #FFF;
        font-family: "Work Sans";
        margin-top: 25px;
    }

    .banner-img {
        width: 70%;
    }

    .game-title {
        font-size: 1.5rem;
    }

    .gradiant-part {
        font-size: 1.5rem;
    }

    .game-subtitle {
        font-size: 0.75rem;
    }

    .all-games {
        flex-direction: column;
        width: 100%;
    }

    .game img {
        width: 100%;
        height: 300px;
    }

    .play-instant {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .play-title {
        font-size: 25px;
        text-align: center;
    }

    .play-description {
        text-align: center;
        font-size: 18px;
    }

    .left-img {
        width: 80%;
        margin: 0 auto;
    }

    .play-instant {
        gap: 20px;
    }



    .game-collection {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        height: 300px;
    }

    .img-game-c {
        display: flex;
        width: 100px;
        height: 40px;
        margin: 0 auto;
    }

    .img-game-c:hover {
        border: 2px solid palevioletred;
        color: palevioletred;
    }

    .img-game-c>img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }

    .img-game-c>p {
        text-align: center;
        font-size: 10px;
    }
.footer-section{
    height: 500px;
}
    .fotter-space {
        width: 100%;
        margin: 0 auto;
    }

    .game-names {
        flex-wrap: wrap;
        gap: 25px;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 55px;

    }

    .footer-logo {
        margin-bottom: 55px;
    }
    .icons-img {
        flex-wrap: wrap;
        justify-content:space-around ;
        font-size: 35px;
        gap: 0;
        margin-bottom: 55px;
    }
}

/* use media quire for reponsive mobile device end */



/* use media quire for reponsive tablet device start */

@media screen and (min-width:425px) and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .menus,
    a {
        flex-direction: column;
        margin-top: 20px;
    }

    .nav-btn {
        margin-top: 20px;
    }

    section {
        flex-direction: column;
    }

    .banner-title-1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .banner-title-2 {
        font-size: 3.5rem;
        font-weight: 800;
    }

    .btn-bnr {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

    .baneer-btn1 {
        padding: 5px 50px;
        border-radius: 48px;
        border: none;
        background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
        color: #FFF;
        font-family: "Work Sans";
    }

    .baneer-btn2 {
        padding: 5px 50px;
        border-radius: 48px;
        border: none;
        background: #4EC5F7;
        color: #FFF;
        font-family: "Work Sans";
        margin-top: 25px;
    }

    .banner-img {
        width: 70%;
    }

    .game-title {
        font-size: 1.5rem;
    }

    .gradiant-part {
        font-size: 1.5rem;
    }

    .game-subtitle {
        font-size: 0.75rem;
    }

    .all-games {
        flex-direction: column;
        width: 100%;
    }

    .game img {
        width: 100%;
        height: 300px;
    }

    .game-img01 {
        width: 80%;
        height: 500px;
    }

    .game-img02 {
        position: relative;
        margin-top: -250px;
        margin-left: -100px;
        width: 150px;
        height: 200px;
    }

    .play-instant {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .play-title {
        font-size: 25px;
        text-align: center;
    }

    .play-description {
        text-align: center;
        font-size: 18px;
    }

    .left-img {
        width: 80%;
        margin: 0 auto;
    }

    .play-instant {
        gap: 20px;
    }

    .game-collection {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        height: 300px;
    }

    .img-game-c {
        display: flex;
        width: 100px;
        height: 40px;
        margin: 0 auto;
    }

    .img-game-c:hover {
        border: 2px solid palevioletred;
        color: palevioletred;
    }

    .img-game-c>img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }

    .img-game-c>p {
        text-align: center;
        font-size: 10px;
    }
    .footer-section{
        height: 500px;
    }
        .fotter-space {
            width: 100%;
            margin: 0 auto;
        }
    
        .game-names {
            flex-wrap: wrap;
            gap: 25px;
            text-align: center;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 55px;
    
        }
    
        .footer-logo {
            margin-bottom: 55px;
        }
        .icons-img {
            flex-wrap: wrap;
            justify-content:space-around ;
            font-size: 35px;
            gap: 0;
            margin-bottom: 55px;
        }
}

/* use media quire for reponsive tablet device end */